# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Built TS files
dist/
dist-ssr
*.local

# Environment variables
.env*

# Seeding
backend/src/database/seed/images

# Backup files
*.backup.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?