# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Built TS files
dist/

# Environment variables
.env*

# Seeding
backend/src/database/seed/images

# Backup files
*.backup.ts